<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sàn đấu giá online</title>
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="https://www.apple.com/wss/fonts?family=SF+Pro&v=2" type="text/css" />
    <link rel="stylesheet" href="https://www.apple.com/wss/fonts?family=SF+Pro+Icons&v=1" type="text/css" />
    <link rel="stylesheet" href="https://www.apple.com/wss/fonts?family=SF+Mono&v=2" type="text/css" />
    <link rel="stylesheet" href="https://www.apple.com/wss/fonts?family=Apple+Icons&amp;v=1" type="text/css" />
</head>
<body>
    <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam repellendus quidem consequatur reprehenderit vel nobis, hic velit a beatae vero neque? Perspiciatis sunt exercitationem ipsa animi illo a ut corrupti!</div>
    <img src="../static/image/icon.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
</body>
</html>