<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sàn đấu giá online</title>
    <link rel="shortcut icon" href="../static/image/icon.png"/>
    <link rel="stylesheet" href="../static/style/room.css">
</head>
<body>
    <div id="menu"></div>
    <!-- <iframe id="menu" src="directory/file.html"></iframe> -->
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa beatae maiores architecto quod aperiam. Esse aspernatur at ab, consequuntur excepturi minus, ad fugiat pariatur tempora earum repudiandae porro necessitatibus repellendus.

</body>
</html>