body {
    color: black;
    font-weight: 5;
    z-index: 1 !important;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

.dropdownMenu {
    display: none;
    position: absolute;
    z-index: 99999999;
    margin-left: 12px;
    background-color: white;
    padding: 10px 10px;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}

.dropdownMenu a:hover {
    background-color: #dee2e6;
}

.account-menu:hover .dropdownMenu {
    display: block;
}