* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#background-log {
    background-image: url("https://i.pinimg.com/originals/3c/0c/be/3c0cbed15c205ec9fbd63ef0ef2efcaf.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.title-h2 {
    color: #2b86c5;
    padding-bottom: 15px;
}

.section-news {
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.image {
    width: 100%;
    /* border-radius: 10px; */
    transition: all 0.2s;
    margin: 0 auto;
    margin-bottom: 10px;
}

.cell {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
}

.image:hover,
.image:active {
    cursor: pointer;
    opacity: 0.9;
    filter: drop-shadow(8px 8px 10px gray);
}